* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  color: white;
  height: 100vh;
  background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
}
.card {
  margin: 10% auto;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  width: 50%;
  height: 50%;
  /* glass */
  background: rgba(255, 239, 239, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.location {
  margin: auto;
}
.location-timezone {
  font-size: 3rem;
}
.degree-section {
  cursor: pointer;
}

.degree-section h2 {
  display: inline;
  font-size: 2.5rem;
}
.degree-section span {
  margin-left: 0.5rem;
  font-size: 2rem;
  font-weight: 700;
}
.temperature-description {
  font-size: 1rem;
}
.details {
  margin: 2rem;
  display: inline-block;
  background-color: rgb(48, 62, 143);
  padding: 0.5rem 1rem;
  border-radius: 5rem;
  border: none;
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  overflow: hidden;
}
.details:hover {
  background-color: rgb(47, 150, 163);
}
